.popup {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  position: fixed;
}

.home_middle {
  margin-top: 75px;
  position: absolute;
  left: 43%;
  transform: translateX(-50%);
}

@media (max-width: 750px) {
  .popup {
    width: 50vw;
  }
}
@media (max-width: 564px) {
  .popup {
    width: 63vw;
  }
}
